@media (max-width: 992px) {
  .about, .services, .stages, .contacts {
    margin-bottom: 30px;
  }

  .about__wrapper-content {
    padding: 0 25%;
    background-position: center 25%;
  }

  .about__about-company {
    line-height: 150%;
    color: #fff;
    text-align: center;
  }

  .about__about-company:first-child {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .about__about-company:nth-child(2) {
    font-size: 16px;
  }

  .about__item {
    padding: 10px 5px;
    background-color: #f6f7fa;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  }

  .about__item:not(:last-child) {
    margin-right: 10px;
  }

  .services__services-title {
    font-size: 18px;
  }

  .services__item-title {
    font-size: 18px;
    line-height: 25px;
    padding-right: 26px;
  }

  .services__item:first-child .services__item-title {
    padding-right: 120px;
  }

  .stages__list {
    flex-wrap: wrap;
    height: 100%;
  }

  .stages__item {
    width: calc(100% / 3);
    height: 100%;
    padding: 0 10px;
  }

  .stages__item:nth-child(3) {
    padding-right: 0;
  }

  .stages__item-wrapper-stage {
    position: relative;
    margin-bottom: 10px;
    height: 30%;
  }

  .stages__item-stage {
    display: block;
    position: static;
    padding: 5px 10px;
    border-radius: 10px 0 0 10px;
    pointer-events: none;
    color: $main_blue;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
  }

  .stages__item:nth-child(4) {
    padding-left: 0px;
  }

  .stages__item:nth-child(3n) .stages__item-stage {
    width: 100%;
    border-radius: 10px;
  }

  .stages__item:nth-child(n - 3) {
    margin-bottom: 10px;
  }

  .contacts__form-btn {
    padding: 20px 40px;
  }
}

@media (max-width: 910px) {
  .services__item:first-child .services__item-title {
    padding-right: 80px;
  }
}

@media (max-width: 820px) {
  .services__item:first-child .services__item-title {
    padding-right: 50px;
  }
}
